@using Contracts.Internal
@inject NavigationManager NavigationManager

<RadzenCard Style="width: 100%; border-radius: 0; padding:3%;background-color: transparent" 
            @onclick=@(() => NavigationManager.NavigateTo("/bugreport"))>
    
    @if (Test.IsPremium)
    {
        <div class="premium-type-box">Premium</div>
    }
    else
    {
        <div class="free-type-box">Free</div>
    }
    
    <RadzenText Text="@Test.Caption" Style="text-align: start;color: #000000;margin: 10px 0;font-size: 26px;font-weight: 400;"/>
    
    <RadzenStack Orientation="Orientation.Horizontal" Gap="10px" Style="margin: 0px 0px 50px 0px">
        <RadzenText Text="@Test.UploadDate.ToString("dd-yyyy")"/>
        <RadzenText Text="|" />
        <RadzenText Text="@($"{Test.DurationInMinutes.ToString()} min")"/>
    </RadzenStack>
    
    <RadzenStack Orientation="Orientation.Horizontal" Gap="10px">
        <RadzenText Style="font-weight: 600" Text="Category: " />
        <RadzenText Style="font-weight: 600" Text="@Test.Category" />
    </RadzenStack>
    
    <RadzenStack Orientation="Orientation.Horizontal" Gap="10px">
        <RadzenText Style="font-weight: 600" Text="Complexity: " />
        <RadzenText Style="font-weight: 600" Text="@Test.Complexity" />
    </RadzenStack>
    
    <div class="tags-wrapper">
        @foreach (var tag in Test.Tags)
        {
            <RadzenBadge BadgeStyle="BadgeStyle.Primary" Text="@tag" />
        }
    </div>
    
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
        
        <RadzenCard class="test-preview-status-box" 
                    Style=@string.Concat("background-color:", Test.IsCompleted ? "#4caf50" : "transparent")>
            <RadzenIcon IconColor="#000" Icon="check" />
            <RadzenText Style="color:#000000">Completed</RadzenText>
        </RadzenCard>
        
        <RadzenCard class="test-preview-status-box" 
                    Style=@string.Concat("background-color:", Test.IsFavourite ? "#f44336" : "transparent")>
            <RadzenIcon IconColor="#000" Icon="favorite" />
            <RadzenText Style="color:#000000">Favourite</RadzenText>
        </RadzenCard>

    </RadzenStack>
</RadzenCard>

@code {

    [Parameter] public required TestPreviewModel Test { get; set; }

}
